.dashboard {
    .profile {
        background-color: white;
        padding: 25px;

        .user {
            @media screen and (max-width: $breakpoint) {
                img {
                    display: block;
                    margin: auto;
                }

                .name {
                    text-align: center;
                }
            }

            @media screen and (min-width: $breakpoint) {
                img, .name {
                    display: inline-block;
                }

                .name {
                    margin-left: 15px;
                }
            }

            img {
                height: 150px;
                width: 150px;
                border-radius: 100%;
            }
        }
    }

    .statistics {
        .statistic {
            padding: 15px;
            margin-bottom: 25px;
            color: white;
            position: relative;

            .s__m {
                padding-bottom: 10px;

                .description {
                    font-size: 0.65;
                    font-weight: lighter;
                    display: block;
                }

                .number {
                    font-size: 2em;
                    display: block;
                }
            }

            .footer {
                cursor: pointer;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 5px 10px;
                text-align: right;
                font-size: 0.9em;

                a {
                    color: white;
                    text-decoration: none;

                    i.fa {
                        font-size: 0.75em;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}