.draggable {
    .section {
        background-color: #f9f9f9;
        border: 1px solid #e7e7e7;
        padding: 10px 15px;
        margin-bottom: 5px;
        cursor: move;
        position: relative;

        h5 {
            font-weight: lighter;
            margin: 0;
        }

        .remove {
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}

#edit__section__modal {
    .header {
        img {
            margin-top: 15px;
            margin-bottom: 15px;
            height: 115px;
            width: 115px;
        }
    }

    .content {
        text-align: center;
        
        p {
            margin-bottom: 15px;
            font-size: 1.05em;
        }
    }
}