html, body {
    overflow-x: hidden !important;
}

body {
    background-color: #f7f7f7;
}

a {
    cursor: pointer;
}

.no-padding {
    padding: 0;
}

.padded {
    padding: 20px;
}

.clear {
    clear: both;
}

.form-control-label {
    padding-left: 0 !important;
}