html, body {
    overflow-x: hidden !important;
}

body {
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 53.59px;
    }
}

a {
    cursor: pointer;
}