.btn-default {
    background-color: $scheme;
    color: white;
}

.btn-default:hover {
    background-color: $scheme-lighter;
    color: white;
}

.btn-danger {
    background-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b;
}