@media screen and (max-width: $breakpoint) {
    .btn.full {
        width: 100%;
    }
}

.btn-default {
    background-color: #3498db;
    color: white;
}

.btn-default:hover {
    background-color: #3498db;
    color: white;
}

.btn-danger {
    background-color: #e74c3c;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #ff5c2d;
}