.card {
    border: none !important;

    .card-header.default {
        background-color: #f6f7f9;
        color: #4b4f56;
        border: none !important;
    }

    .card-header.danger {
        background-color: #e74c3c;
        color: white;
    }
}