.card {
    border: none;
    border-bottom: 3px solid lightgray;

    .card-header.default {
        background-color: $scheme-lighter;
        color: white;
    }

    .card-header.danger {
        background-color: #e74c3c;
        color: white;
    }
}