.navbar {
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    border-radius: 0;

    .nav.navbar-nav {
        li {
            a {
                color: #4b4f56;
            }
        }
    }
}