.dashboard {
    @media screen and (max-width: $breakpoint) {
        .sidebar {
            display: none;
        }
    }

    .sidebar {
        background: $sidebar-bg;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        border-right: 1px solid #ccc;

        .header {
            margin: 25px 0;

            img {
                height: 50px;
                width: 50px;
                display: block;
                margin: auto;
                border-radius: 100%;
            }
        }

        .links {
            margin-top: 15px;
            margin-bottom: 15px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    a {
                        color: $sidebar-color;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        padding: 6px 20px;
                        font-size: 0.95em;
                        font-weight: lighter;

                        i {
                            margin-right: 15px;
                        }
                    }

                    a.active, a:hover {
                        background-color: #39414e;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .toggleSlideout {
        display: none;
    }
}

.toggleSlideout {
    font-size: 1.35em;
    position: absolute;
    right: 10px;
}