.dashboard {
    @media screen and (max-width: $breakpoint) {
        .sidebar {
            display: none;
        }
    }

    .sidebar {
        background: $sidebar-bg;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        border-right: 1px solid #ccc;
        z-index: 100;

        .header {
            margin: 25px 0;

            img, h6 {
                display: block;
            }

            h6 {
                text-align: center;
                color: $sidebar-color;
                font-weight: bolder;
                margin-top: 10px;
            }

            img {
                height: 50px;
                width: 50px;
                border-radius: 100%;
                margin: auto;
            }
        }

        .links {
            margin-top: 15px;
            margin-bottom: 15px;

            > ul {
                list-style: none;
                padding-left: 0;

                > li {
                    a {
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: lighter;
                        color: $sidebar-color;
                    }

                    > a {
                        display: block;
                        width: 100%;
                        padding: 6px 20px;

                        i {
                            margin-right: 15px;
                        }
                    }

                    > a.active, > a:hover {
                        background-color: #39414e;
                    }

                    ul {
                        list-style: none;
                        display: none;
                        background-color: #313844;
                        padding: 10px 20px;

                        li {
                            a {
                                display: block;
                                width: 100%;
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .toggleSlideout {
        display: none;
    }
}

.toggleSlideout {
    font-size: 1.35em;
    position: absolute;
    right: 10px;
}