.dashboard {
    @media screen and (max-width: $breakpoint) {
        .sidebar {
            display: none;
        }
    }

    .sidebar {
        background: $sidebar-bg;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        box-shadow: inset 0 0 10px lightgray;

        .header {
            margin: 25px 0;

            img {
                height: 50px;
                width: 50px;
                display: block;
                margin: auto;
                border-radius: 100%;
            }
        }

        .links {
            margin-top: 15px;
            margin-bottom: 15px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        color: $sidebar-color;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        padding: 10px 20px;
                        font-size: 0.95em;

                        i {
                            margin-right: 15px;
                        }
                    }

                    a.active, a:hover {
                        i {
                            color: $flat-green;
                        }
                    }
                }
            }
        }
    }
}