.table {
    width: 100%;

    thead {
        tr {
            td, th {
                border: none;
            }
        }
    }
    
    tr {
        th, td {
            text-align: center;
        }

        th {
            font-weight: lighter;
        }
    }
}